div.container {
 width: 1200px;
 height: 440px;
 margin: 0px auto;
}

div.grid {
 width: 570px;
 height: 190px;
 margin: 5px;
 line-height: 80px;
 box-shadow: 5px 5px 5px gray;
 font-size: 10px;
 display: inline-block
}